@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="content-wrapper">
    <!-- START PAGE CONTENT -->
    <div class="btn-group">
        <div class="item_groups_nav ">
            <p class="btn btn-default dropdown-toggle" data-toggle="dropdown">All Item Groups <span class="caret"></span></p>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="dropdown-item" href="javascript:;">list one</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">list two</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">list three</a>
                </li>
            </ul>



        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="ibox">
                <div class="item_groups">
                    <div class="ibox-body">
                        <br>
                        <h3>Item Groups</h3><br>
                        <img src="~/theme/assets/img/icons/tshirt.png" width="100" height="100"><br><br>
                        <p>Create multiple variants of the same item using <b>Item Groups</b></p>
                        <button type="button" class="btn btn-info">New Item Group</button>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="ibox">
                <div class="item_groups">
                    <div class="ibox-body">
                        <br>
                        <h3>Items</h3><br>
                        <img src="~/theme/assets/img/icons/tshirt.png" width="100" height="100"><br><br>
                        <p>Create standalone items and services that you buy and sell</p>
                        <button type="button" class="btn btn-info">New Item</button>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="ibox">
                <div class="item_groups">
                    <div class="ibox-body">
                        <br>
                        <h3>Composite Items</h3><br>
                        <img src="~/theme/assets/img/icons/tshirt.png" width="100" height="100"><br><br>
                        <p>Bundle different items together and sell them as kits</p>
                        <button type="button" class="btn btn-info">New Composite Item</button>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="ibox">
                <div class="item_groups">
                    <div class="ibox-body">
                        <br>
                        <h3>Price Lists</h3><br>
                        <img src="~/theme/assets/img/icons/paper.png" width="100" height="100"><br><br>
                        <p>Tweak your item prices for specific contacts or transactions</p>
                        <button type="button" class="btn btn-info">New Price List</button>


                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- End PAGE CONTENT -->
</div>
